    {% extends 'base.html' %}

    {% block content %}

    <div class="max-w mx-auto bg-white p-8 rounded-2xl shadow-xl border-orange-500 mt-4">
        <h1 class="text-3xl font-bold text-orange-400 mb-2 text-center">{{ titulo_form }}</h1>
    </div>
    <form method="POST" class="space-y-4">
        {% csrf_token %}

        {% for field in form %}
        <div>
            <label class="block text-sm font-bold text-orange-400 mb-1">
                {{ field.label }}
            </label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-3 rounded-sm mt-4 cursor-pointer">
            Guardar Formulario
        </button>
    </form>
    <div class="text-center my-4">
        <a href="{% url 'list_cocheras' %}" class="text-sm text-red-600 hover:underline">
            Cancelar y volver
        </a>
    </div>

    {% endblock %}